{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 400px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Your information
        </h1>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->

    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Your profile </h3>
            </div>
            <div class="col-4 text-right">
              <form method="POST" class="form">
              <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block">
            </div>
          </div>
        </div>
        <div class="card-body">
          
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nick Name</label>
                    {{ form.nick_name(class_ = 'form-control', placeholder='City', autofocus = true) }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    {{ form.email(class_ = 'form-control', placeholder='email', autofocus = true) }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    {{ form.first_name(class_ = 'form-control', placeholder='First Name', autofocus = true) }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    {{ form.last_name(class_ = 'form-control', placeholder='Last Name', autofocus = true) }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Picture URL</label>
                    {{ form.url_picture(class_ = 'form-control', placeholder='Picture URL', autofocus = true) }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Total Followers</label>
                    {{ form.total_followers(class_ = 'form-control', placeholder='xxx.xxx', autofocus = true) }}
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />

            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">My social channels</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Instagram</label>
                    {{ form.instagram(class_ = 'form-control', placeholder='Instagram', autofocus = true) }}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Tik-Tok</label>
                    {{ form.tik_tok(class_ = 'form-control', placeholder='Tik Tok', autofocus = true) }}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Facebook</label>
                    {{ form.facebook(class_ = 'form-control', placeholder='Facebook', autofocus = true) }}
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-city">Twitter</label>
                  {{ form.twitter(class_ = 'form-control', placeholder='Twitter', autofocus = true) }}
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-country">Youtube</label>
                  {{ form.youtube(class_ = 'form-control', placeholder='Youtube', autofocus = true) }}
                </div>
              </div>
            </div>
          </div>
       
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Topics</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">The type of content I create</label>
                {{ form.topics(class_ = 'form-control', placeholder='topics', autofocus = true) }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}